* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color: black;
    background-color: white;
    line-height: 1.5; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: white;
    border-bottom: 1px solid white ;
    top: 0;
}

.nav-logo {
    font-size: 18px;
    flex: 1;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex: 3;
}

.nav-menu a {
    text-decoration: none;
    color: gray;
    font-size: 14 px;
    font-weight: 500;
}

.nav-menu a:hover {
    color: rgb(32, 74, 189);
}

.nav-register {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.button-register {
    text-decoration: none;
    background-color: rgb(32, 74, 189);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.main-footer {
    color: darkgray;
    background-color: black;
    padding: 60px 10%;
    border-top: 1px solid white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer-links a {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

.footer-links a:hover {
    color: rgb(32, 74, 189);
}

.footer-divider {
    border: 0;
    height: 1px;
    background-color: rgb(43, 44, 56);
    margin-bottom: 24px;
}

.footer-bottom p{
    text-align: left;
    font-size: 12px;
    color: rgb(87, 87, 87);
    font-weight: 500;
}